__pycache__/
.env
.pytest_cache/
*.pyc
.vscode/

# Ignore old output images but keep session cookies and the folder
# Ignore old output images but keep session cookies and the folder
outputs/*
!outputs/.gitkeep
!outputs/rb_session.json

# Ignore local logs
logs/*
!logs/.gitkeep
